extends layout

block content
    div
        h2 Autoškola sk. B
        a(href='skupina-b') Teorie
        a(href='skupina-b_test') Cvičný test

    div
        h2 Autoškola sk. A
        a(href='skupina-a') Teorie
        a(href='skupina-a_test') Cvičný test

    div
        h2 Autoškola sk. C
        a(href='skupina-c') Teorie
        a(href='skupina-c_test') Cvičný test

    div
        h2 Autoškola sk. D
        a(href='skupina-d') Teorie
        a(href='skupina-d_test') Cvičný test

block footer
    p A tak to chodi