extends layout

block content
    main.index
        div.wrapper
            div
                h2 Autoškola sk. B
                a.theory-link(href='skupina-b') Teorie
                a.test-link(href='skupina-b_test') Cvičný test

            div
                h2 Autoškola sk. A
                a.theory-link(href='skupina-a') Teorie
                a.test-link(href='skupina-a_test') Cvičný test

            div
                h2 Autoškola sk. C
                a.theory-link(href='skupina-c') Teorie
                a.test-link(href='skupina-c_test') Cvičný test

            div
                h2 Autoškola sk. D
                a.theory-link(href='skupina-d') Teorie
                a.test-link(href='skupina-d_test') Cvičný test

block footer