extends layout

block content
    div
        h2 Autoškola sk. B
        a(href='skupina-b') Teorie

    div
        h2 Autoškola sk. A
        a(href='skupina-a') Teorie
    div
        h2 Autoškola sk. C
        a(href='skupina-c') Teorie

    div
        h2 Autoškola sk. D
        a(href='skupina-d') Teorie

block footer
    p A tak to chodi