doctype html
html
    head
        title Autoškola
    body
        header
            h1 Aplikace autoškoly.
        main
        footer
    block content
    br
    hr
    footer
        block footer
        p copyright &copy; 2019