//Cvicny komentar
doctype html
html
    head
        title Autoškola
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        header
            h1 Aplikace autoškoly.
        main
            block content
    br
    hr
    footer
        block footer
        p copyright &copy; 2019