extends layout

block content
    main.group
        div.wrapper
            ul
                li
                    a(href='#') Pojmy a povinnosti
                li
                    a(href='#') Jízda vozidly
                li
                    a(href='#') Ostatní ustanovení
                li
                    a(href='#') Dopravní značky
                li
                    a(href='#') Dopravní situace
                li
                    a(href='#') Zásady bezpečné jízdy
                li
                    a(href='#') Podmínky provozu vozidel
                li
                    a(href='#') Souvisejici predpisy
                li
                    a(href='#') Zdravotnická příprava
                li
                    a.test-link(href='#') Cvičný test