extends layout

block content
    main.group
        div.wrapper
            ul
                li
                    a(href='#') pes
                li
                    a(href='#') kocka
                li
                    a(href='#') kocour
                li
                    a(href='#') doga