* {
    margin: 0;
    padding: 0;
}

.index, .skupina {
    min-height: calc(100vh - 156px);
}
/* LAYOUT - HEADER */
header {
    border: 1px solid black;
    box-sizing: border-box;
    padding: 20px;
    background-color: lightblue;
}
header h1 {
    text-align: center;
}
.wrapper {
    min-height: calc(100vh - 156px);
}
/* INDEX - HOMEPAGE */
.index .wrapper {
    display: flex;
    flex-wrap: wrap;
    min-height: calc(100vh - 156px);
    width: 80%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}
.index .wrapper div {
    width: 350px;
    box-sizing: border-box;
    padding: 40px 20px;
    margin: 20px;
    border: 1px solid black;
    text-align: center;
}
.index .wrapper div:nth-of-type(1) {
    background-color: #ffe0e0;
}
.index .wrapper div h2 {
    margin-bottom: 20px;
}
.index .wrapper div a {
    border: 1px solid black;
    display: block;
    padding: 20px;
}
.theory-link {
    background-color: #d6f1d6;
}
.test-link {
    margin-top: 10px;
    background-color: #ffd487;

}

/* GROUP */
.group .wrapper {
    display: flex;
    justify-content: center;
}
.group .wrapper ul li {
    display: block;
}
.group .wrapper ul li a {
    padding: 10px 20px;
    display: block;
    margin: 3px 0px;
    border: 1px solid black;
    min-width: 200px;
}
.group .wrapper ul li a:nth-last-of-type() {
    background-color: #ffe0e0;
}

/* LAYOUT - FOOTER */
footer {
    border: 1px solid black;
    box-sizing: border-box;
    padding: 30px;
    text-align: center;
    background-color: lightblue;
}

@media screen and (max-width: 1000px) {
    .index .wrapper {
        width: 95%;
    }
}
@media screen and (max-width: 500px) {
    .index .wrapper {
        width: 99%;
    }
    .index .wrapper div {
        width: 100%;
    }
}