* {
    margin: 0;
    padding: 0;
}
.index {
    min-height: calc(100vh - 156px);
}
header {
    border: 1px solid black;
    box-sizing: border-box;
    padding: 20px;
}
header h1 {
    text-align: center;
}
.wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    min-height: calc(100vh - 156px);
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}
.wrapper div {
    width: 400px;
    box-sizing: border-box;
    padding: 40px 20px;
    margin: 20px;
    border: 1px solid black;
    text-align: center;
}
.wrapper div h2 {
    margin-bottom: 20px;
}
.wrapper div a {
    border: 1px solid black;
    display: block;
    padding: 20px;
}
.wrapper div .test-link {
    margin-top: 10px;
}
footer {
    border: 1px solid black;
    box-sizing: border-box;
    padding: 20px;
}